
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7d8cc4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #726DA8;
    padding: 10px 15px 10px 15px;
}

main{
    
    background-color: white; width: 1000px;
   
    padding: 10px 15px 10px 15px;

} 

h2{
    color: #726DA8;
 }

p, ol{
    color:#B8336A
}
 
footer{
    color: #A0d2db;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: small-caps bold 20px/1 sans-serif;
    padding: 10px 15px 10px 15px;
}
