:root {
    --globalBackground: #d3bdb0;
    --colorH1AndInput: #715b64;
    --frameMain: #a28c8a;
    --frameForm: #aea896;
    --formWordsAndError: #69385c;
    --backgroundInputsAndError: #c1ae9f;
    --frameInputAndError: #8e967f;
    --tableBorder: #89937c;

    --boxPadding: 0.7rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--globalBackground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: var(--boxPadding);

    /*
    * centrer l'élément enfant (ici main) en hauteur et en largeur
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

main {
    border: 2px solid var(--frameMain);
    padding: 0.2rem var(--boxPadding) 0.5rem;
    max-width: 1000px;
    min-width: calc(265px - var(--boxPadding) * 2);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: var(--colorH1AndInput);
    padding: 0.2rem 0;
}

h4,
label,
#hello {
    color: var(--formWordsAndError);
    font-weight: normal;
}

h4 {
    margin-bottom: 1rem;
}

#form-error p {
    background: var(--backgroundInputsAndError);
    border: 2px solid var(--frameInputAndError);
    color: var(--formWordsAndError);
    padding: var(--boxPadding);
}

#box-form {
    border: 2px dashed var(--frameForm);
    padding: 0.2rem var(--boxPadding);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

input,
button {
    background: var(--backgroundInputsAndError);
    border: 2px solid var(--frameInputAndError);
    color: var(--colorH1AndInput);
    padding: 0.4rem var(--boxPadding);
}

label {
    display: inline-block;
    width: 180px;
}

#box-table {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

#box-table div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.4rem;
}

table {
    width: 800px;
    background: var(--backgroundInputsAndError);
    color: var(--colorH1AndInput);
}
table,
tr,
th,
td {
    margin-left: 1rem;
    border: 2px solid var(--tableBorder);
    border-collapse: collapse;
}

#current-user {
    background: var(--colorH1AndInput);
    color: var(--globalBackground);
    font-weight: bold;
    padding: 12rem;
}

th,
td {
    padding: 0.4rem;
}
