:root {
    --globalBackground: #D3BDB0;
    --colorH1: #715b64;
    --frameMain: #a28c8a;
    --fraimForm: #aea896;
    --formWords: #69385c;
    --inputWords: #715b64;
    --backgroundInputsAndError: #C1AE9F;
    --frameInputAndError: #8e967f;
}

body {
    background-color: var(--globalBackground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    border: 2px solid var(--frameMain);
    padding: 1rem;

}

h1 {
    color: var(--colorH1);
    margin: 0;
}

h4 {
    margin: 0 0 1rem;
}

h4,
label,
a,
#hello,
#form-error
#btn-connexion
{
 color: var(--formWords);

}

#box-form {
    border: 2px dotted var(--fraimForm);   
    margin-top: 1rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
  }

input,
#btn-deconnexion {
    border: 2px, solid,  var(--frameInputAndError);
    background-color: var(--backgroundInputsAndError);
    text-decoration: none;
    padding: .2rem .6rem;
}

#hello {
    display: inline-block;
}

#box-table, #form-error {
    display: none;
}