body {
  height: calc(100vh - 60px);
  font-family: montserra, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 2px solid rgb(28, 69, 195);

  padding: 30px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.caseCocher {
  display: flex;
  gap: 0.5rem;
}

input {
  border: 1px solid rgb(28, 69, 195);
  padding: 0.3rem 0.5rem;
}

.boutons {
  display: flex;
  gap: 0.5rem;
}

#calculer {
  background-color: rgb(237, 237, 192);
  color: rgb(7, 48, 171);
}

#efface {
  background-color: rgb(237, 237, 192);
  color: rgb(7, 48, 171);
}

#birthday {
  width: 180px;
}

hr {
  border: 1px solid black;
  margin: 1rem 0;
}

.surlignage {
  color: blue;
  font-weight: bold;
}
