:root{
    --background : #536B78;
    --cadrePolice :#ACCBE1;
    --cadreInputTab: #7C98B3;
    --policeHorsTab: #C1D8E5;
    --colorInputTab: #637081;
    --colorX: #CEE5F2;
    --colorPoliceListe: #C7DEEC;
    --error: red; 
    --success: green;
    
}

body {
    background: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cadrePolice);
}

main{
    border: 2px solid var(--cadrePolice);
    padding: 1rem;
}

h1, h3{
    margin: 0;
    padding: .5rem 0rem;
}

#add-person {
    border: 1px dashed var(--cadrePolice);
    margin: 0;
    padding: .5rem;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

input {
    border: 2px solid var(--cadreInputTab);
    background: var(--colorInputTab);
    color: var(--cadreInputTab);
    padding: .3rem .5rem;
}

#btn-add {
    color: var(--cadrePolice);
}

table,tr,th,td {
    border: 2px solid var(--cadreInputTab);
    border-collapse: collapse;
    padding: .3rem .5rem;
    background-color: var (--colorInputTab);
}

td:last-child{
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--colorX);
    font-weight: bold;
}

.success, .error {

    padding: .5rem;
}

.success {
    background: var(--success);
}

.error {
    background: var(--error);
}
